<header id="head_nav_wrap">
   <div id="head_nav">
      <div id="head">
         <%= link_to "My Tools Collection", root_path, id: "logo" %>
   </div>
      <nav id="nav">
         <ul id="nav_list_top" class="nav_list">
            <li><%= link_to "Home",       root_path %></li>
            <li><%= link_to "Help",       help_path %></li>

            <% if signed_in? %>
               <li><%= link_to "Profile",    current_user %></li>
               <li><%= link_to "Settings",   "#" %></li> 
               <li><%= link_to "Sign out",   signout_path,  method: "delete" %></li>
            <% else %>
               <li><%= link_to "Sign in",    signin_path %></li>
            <% end %>
         </ul>
      </nav>
   </div>
   <h1 class="center title"><%= yield(:h1_title) %></h1>
</header>

